.employee-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.employee-card.flip {
  transform: rotateY(180deg);
}

.employee-card {
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(100% - 10px);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.employee-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.employee-card.flip {
  transform: rotateY(180deg);
}

.employee-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fff;
}

.employee-name {
  font-size: 1.8rem;
  margin: 10px 0;
  color: #333;
  font-weight: bold;
  text-transform: capitalize;
}

.employee-email {
  font-weight: bold;
  color: #0077b6;
}

.employee-contactNumber,
.employee-age,
.employee-gender,
.employee-dob,
.employee-salary,
.employee-address {
  margin: 10px 0;
  color: #555;
  font-weight: bold;
}

/* Add styles for the Edit button */
.edit-button {
  background-color: #0077b6; /* Change button background color */
  color: #fff; /* Change button text color */
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
}

.edit-button:hover {
  background-color: #005d8e; /* Change button background color on hover */
}

.deleteBtn{
  background-color: red;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px
}



/* Media Queries for responsive design */
@media (max-width: 768px) {
  .employee-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .employee-card {
    width: 100%;
  }
}

